


/*left-sidebar*/

#leftsidebar
{
    width: 190px;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
}

.schools table
{
    width: 175px;
    padding-top: 5px;
}

td + td + td
{
    text-align: right;
    padding-left: 4px;
}


td
{
    height: 20px;
    font-size: 12px;
}

.category
{
    padding-top: 20px;
    padding-bottom: 10px;
}

.category ul
{
    padding-top: 10px;
}

.announce
{
    padding-bottom: 20px;
}

.announce ul
{
    padding: 5px 0 0 20px;
    list-style-image: url("../images/uldot.gif");
}

.announce ul li
{
    font-size: 1px;
    height: 25px;
}

.annoumce ul li a
{
    font-size: 12px;
    line-height: 12px;
}

.ad
{
    padding-top: 60px;
}

.ad img
{
    padding-top: 10px;
    padding-left: 10px;
}

/* center */
#center
{
    width: 475px;
    padding-left: 25px;
    float: left;
}

.populer
{
    width: 480px;
    height: 430px;
}

.populer ul
{
    padding-top: 10px;
}

.populer ul li
{
    width: 111px;
    height: 180px;
    padding-right: 48px;
    padding-bottom: 20px;
    float: left;
}

.thumb
{
    border: 1px solid #DDD;
}

.thumb:hover
{
    border: 1px solid #AAA;
    -webkit-box-shadow: 1px 2px 4px #DDD;
    -moz-box-shadow: 1px 2px 4px #DDD;
}

.populertitle
{
    line-height: 20px;
}


.more
{
    float: right;
    _margin-top: -24px;
    padding-right: 10px;
}

.more a
{
    color: #A3A3A3;
    display: inline;
}

.date
{
    font-size: 12px;
    line-height: 24px;
    color: #A3A3A3;
    float: right;
    _margin-top: -20px;
    padding-right: 10px;
}

.indexlist
{
    height: 100px;
}

.indexlist li
{
    width: 190px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.studyindex
{
    padding-top: 15px;
}

.techindex
{
    padding-top: 25px;
}

.enterindex
{
    padding-top: 25px;
}


/*index learning 20120330 */

div#inline
{
    width: 175px;
}
div#inline ul li
{
    float: left;
    padding-right: 10px;
    line-height: 20px;
}
